# Panel de administración
NEXT_PUBLIC_ADMIN_PASS=admin123

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=+573015956954

# Google Maps (opcional)
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_KEY=your_google_maps_api_key

# Analytics (opcional)
NEXT_PUBLIC_GA_ID=your_google_analytics_id
